# 应用基础配置
NEXT_PUBLIC_BASE_URL=https://app.linkol.fun
NEXT_PUBLIC_APP_NAME=Linkol Event
NEXT_PUBLIC_ICON_URL=https://app.linkol.fun/favicon.ico
NEXT_PUBLIC_TERMS_URL=https://www.linkol.fun/terms-of-use
NEXT_PUBLIC_PRIVACY_URL=https://www.linkol.fun/privacy-policy

# 开发环境配置
# NEXT_PUBLIC_BASE_URL=https://test.linkol.fun
